.contactContainer{
    border-radius: 20px;
}
.contactMesage{
    resize: none;
}
.contactIcon{
    margin: 15px 10px;

}
form{
    .form-control, .form-select{
        &:focus{
            border-color: transparent;
            box-shadow: #e77224a1 0px 0px 0px 4px;
        }
    }
}

