footer{
    color: white;
    background-color: #212529;
    a{
        width: 30px;
    }
    .desktopFooterIcons-1{
        margin-right: 10px;
        i{
            font-size: 25px;
            color: #ffffff;
            &:hover{
                color: #e77224;
                transform: scale(110%);
            }
        }
    }
    .desktopFooterIcons-2{
        margin: 0 20px;
        i{
            font-size: 25px;
            color: #ffffff;
            &:hover{
                color: #e77224;
                transform: scale(110%);
            }
        }
    }
    .mobileFooterIcons{
        margin: 0 10px;
        i{
            font-size: 25px;
            color: #ffffff;
            &:hover{
                color: #e77224;
                transform: scale(110%);
            }
        }
    }
}