footer{
    color: white;
    background-color: #212529;
    a{
        width: 40px;
    }
    .desktopFooterIcons-1{
        margin-right: 0px;
    }
    .desktopFooterIcons-2{
        margin: 20px;
    }
    .mobileFooterIcons{
        margin: 0 10px;
    }
}


