.carouselGaleriaXl{
    width: 33.3%;
}
.video{
    overflow: hidden;
    border-radius: 30px;
}
.googleReviews{
    height: 350px;
    background-color: #212529;
    color: white;
}
.cardGaleria{
    width: 80%;
    transition: scale, 0.5s;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .googleReviews{
        height: 300px;
    }
    .cardGaleria{
        width: 45%;
        cursor: pointer;
    }
}
@media screen and (min-width: 768px){
    .googleReviews{
        height: 250px;
    }
    .cardGaleria{
        width: 38%;
        cursor: pointer;
    }
}
@media screen and (min-width: 1200px){
    .googleReviews{
        height: 320px;
    }
    .cardGaleria{
        width: 28%;
        transition: scale, 0.5s;
        cursor: pointer;
        &:hover{
            transform: scale(115%);
        }
    }
}

