.indexHeader{
    position: relative;
    border-radius: 20px;
    .indexText{
        position: absolute;
        height: 100%;
        border-radius: 20px;
        background: rgb(43,205,209);
        background: linear-gradient(90deg, rgb(209, 132, 43) 0%, rgb(214, 36, 81) 36%, rgba(156, 6, 43, 0.377) 54%, rgba(255,255,255,0) 100%);
        h1{
            font-family: 'Work Sans', sans-serif;
            color: white;
            width: 34%;
            font-size: 65px;
            position: absolute;
            top: 20%;
            left: 5%;
            transform: translate(0%, -50%);
        }
        p{
            color: white;
            width: 34%;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(0%, -50%);
        }
    }
    img{
        position: relative;
        right: 0;
        border-radius: 20px;
    }
    .indexReservar{
        position: absolute;
        background-color: white;
        border-radius: 10px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        button{
            margin-top: 30px;
        }
    }
}
.indexBeneficios{
    margin-top: 100px;
    div{
        margin: 0 30px;
        width: 220px;
        i{
            color: #e77224;
            font-size: 60px;
            margin-bottom: 30px;
        }
        h3{
            font-family: 'Work Sans', sans-serif;
            font-size: 24px;
        }
    }
}
.indexMainContent{
    margin-top: 100px;
    background-color: #ebab861e;
    color: black;
    .mainText{
        position: relative;
        background-color: white;
        padding: 30px;
        border-radius: 30px;
    }
    h2{
        width: 100%;
        text-align: center;
        color: #e77224;
        font-size: 45px;
        text-decoration: underline;
    }
    p{
        font-size: 18px;
    }
    .video{
        overflow: hidden;
        border-radius: 30px;
    }
}
