.cardPaquetes{
    width: 90%;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .cardPaquetes{
        width: 70%;
        transition: scale, 0.5s;
        cursor: pointer;
        &:hover{
            transform: scale(115%);
        }
    }
}
@media screen and (min-width: 768px){
    .cardPaquetes{
        width: 40%;
        transition: scale, 0.5s;
        cursor: pointer;
        &:hover{
            transform: scale(115%);
        }
    }
}
@media screen and (min-width: 1200px){
    .cardPaquetes{
        width: 22%;
        transition: scale, 0.5s;
        cursor: pointer;
        &:hover{
            transform: scale(115%);
        }
    }
}
