
$colores:(
    Location:#ff737e,
    Whatsapp:#4dc247,
    Mail:#b7c0f8,
    Facebook:#3b5998,
    Instagram:#c435bc,
    Twitter:#55acee
    
);

@mixin propiedades ($color, $size, $margenInferior){
    color: $color;
    font-size: $size;
    margin-bottom: $margenInferior;
}

$icon:(
    fuente:25px,
    colornormal: white,
);

.icon{
    font-size: map-get($icon , fuente );
    color: map-get($icon , colornormal );
}

@each $key, $var in $colores {
    .icon#{$key}{
        @extend .icon;
        transition: scale, 0.2s;
        &:hover{
            color: $var;
            transform: scale(110%);
        }
    }
}

$iconC:(
    fuente:35px,
    colornormal: black,
);

.iconC{
    font-size: map-get($iconC , fuente );
    color: map-get($iconC , colornormal );
}

@each $key, $var in $colores {
    .iconC#{$key}{
        @extend .iconC;
        transition: scale, 0.2s;
        &:hover{
            color: $var;
            transform: scale(110%);
        }
    }
}