*{
    box-sizing: content-box;
    box-sizing: border-box;
}
footer{
    color: white;
    background-color: #212529;
}
footer a{
    width: 30px;
}
.contactFooterIcons{
    margin-right: 10px;
}
.contactFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.socialMediaFooterIcons{
    margin: 0 20px;
}
.socialMediaFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.mobileFooterIcons{
    margin: 15px 10px;
}
.mobileFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.googleReview{
    height: 390px;
}
@media screen and (min-width: 576px){
    .googleReview{
        height: 320px;
    }
}
@media screen and (min-width: 768px){
    .googleReview{
        height: 290px;
    }
}
@media screen and (min-width: 1200px){
    .googleReview{
        height: 320px;
    }
}
.contactMesage{
    resize: none;
}
.contactIcon{
    margin: 15px 10px;
}
.contactIcon img{
    width: 40px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.itemsCarouselXl{
    width: 33.3%;
}