*{
    box-sizing: content-box;
}
footer{
    color: white;
    background-color: rgb(28, 28, 29);
}
footer a{
    width: 30px;
}
.contactFooterIcons{
    margin-right: 10px;
}
.contactFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.socialMediaFooterIcons{
    margin: 0 20px;
}
.socialMediaFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}
.mobileFooterIcons{
    margin: 15px 10px;
}
.mobileFooterIcons img{
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}